{# TIP: Here we provide the product information to Foxy.io
  Be very careful building the href of the add to cart button.
  It is providing the information Foxy.io needs to handle the purchase.

  Check out the documentation:
  https://docs.foxycart.com/v/2.0/products#using_links

  You can also use a form to provide this info:
  Check out the documentation:
  https://docs.foxycart.com/v/2.0/products#using_forms
#}
<a
  href="{{
    store.cart_url
    }}?name={{
    addToCartBtn.product.name
    }}&price={{
      addToCartBtn.price
    }}&quantity=1{%
      if addToCartBtn.code 
    %}&code={{ addToCartBtn.code }}{% 
    endif %}{%
      if addToCartBtn.monthly
    %}&sub_frequency=1m{% endif %}"
  data-foxy-product-link
  class="block no-underline text-center w-full shadow bg-{{ addToCartBtn.color }} hover:bg-dark focus:shadow-outline focus:outline-none text-white text-xs px-1 rounded mb-2 leading-2"
  >
  <strong>{{ addToCartBtn.text }}</strong>
  ({{ addToCartBtn.currency }}{{ addToCartBtn.price }})
</a>
