  <div class="custom-number-input h-full text-xl font-thin text-contrast-60">
    <div class="flex flex-row w-full justify-between h-full text-xl rounded bg-shade-20 overflow-hidden relative">
      <button data-action="decrement" class="hover:text-primary-contrast hover:bg-contrast-70 h-full w-s cursor-pointer outline-none">
        <span class="m-auto leading-none font-thin">−</span>
      </button>
      <input type="number" min="1" class="outline-none overflow-hidden bg-transparent focus:outline-none text-center w-s font-semibold text-xs text-contrast-60 hover:text-contrast focus:text-contrast  md:text-basecursor-default flex items-center  outline-none" name="quantity" value="1"></input>
      <button data-action="increment" class="hover:text-primary-contrast hover:bg-contrast-70 h-full w-s cursor-pointer">
        <span class="m-auto leading-none font-thin">+</span>
      </button>
    </div>
  </div>
