<footer class="font-sans bg-contrast-70 text-primary-contrast py-xl px-m">
  <div class="mx-auto container overflow-hidden flex flex-col lg:flex-row justify-between">

      <div class="flex flex-col">
        <div class="inline-block py-s px-s uppercase font-medium tracking-wide">Follow Us</div>
        <div class="flex pl-m justify-start">
        {% for key, i in site.social_networks %}
          <a href="{{ i.url }}"
          class="block flex items-center text-primary-contrast hover:text-tertiary mr-l no-underline" >
            <i class="{{ i.icon }}"></i>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>

    <div class="pt-m mt-m text-contrast-primary text-xs border-t border-contrast-30 text-center">
      ©{% currentYear %} {{ site.author }}
    </div>

  </div>
</footer>
