
<div data-foxy-product-container
  class="rounded-md overflow-hidden shadow-lg border-light border-2 h-full w-full">
  {% if product.data.image %}
  <div>
    {%  productPicture product.data.image, product.data.image_alt_text %}
  </div>
  {% endif %}

  <div class="p-2">
    <input type="hidden" name="name" value="{{ product.data.name }}">
    <input type="hidden" name="price" value="{{ product.data.price }}">

    <div class="flex flex-wrap text-lg">
      <div class="w-2/3">
        <h4 class="font-bold mb-1 text-dark">{{ product.data.name }}</h4>
      </div>
      <div class="w-1/3 text-right text-primary">
        {% if product.data.price < 10000 %}
        <p>
          {{ site.currency_symbol }}{{ product.data.price }}<br>
          ({{ site.currency_symbol }}{{ product.data.price_monthly }}/mo)
        </p>
        {% else %}
        <p>
          {{ site.currency_symbol }}{{ product.data.price_monthly }}/mo
        </p>
        {% endif %}
      </div>
    </div>

    <hr class="my-3">

    <div class="text-dark text-base">
      {{ product.templateContent|safe }}
    </div>


    <hr class="my-3">

    <div class="flex flex-wrap leading-7 text-sm space-x-2 justify-between">
      <div class="w-1/3 pr-1">
        <div class="custom-number-input">
          <div class="flex flex-row w-full rounded-lg relative bg-transparent">
            <button data-action="decrement"
            class=" bg-gray-300 text-dark hover:text-light hover:bg-dark h-full w-20 rounded-l cursor-pointer outline-none">
              <span class="m-auto text-2xl leading-none font-thin">−</span>
            </button>
            <input type="number" min=1 class="outline-none
            overflow-hidden focus:outline-none
            text-center w-full bg-gray-300 font-semibold text-xs text-dark hover:text-black focus:text-black  md:text-basecursor-default flex items-center  outline-none" name="quantity" value="1"></input>
            <button data-action="increment"
            class="bg-gray-300 text-dark hover:text-light hover:bg-dark h-full w-20 rounded-r cursor-pointer">
              <span class="m-auto text-2xl leading-none font-thin">+</span>
            </button>
          </div>
        </div>
      </div>

      <div class="w-1/3 pr-1">
        <!-- TIP: Set variables to feed includes
        Notice that this includes can call other includes.
        By setting the variable addToCartBtn here we can feed the include with
        the data it needs
        -->
        {% set addToCartBtn={ product: product.data, currency: site.currency_symbol, price: product.data.price, color: 'primary', text: 'Once' } %}
        {% if product.data.price < 10000 %}
          {% include "addtocart_button.njk" %}
        {% endif %}
      </div>
      <div class="w-1/3 px-0">
        {% set addToCartBtn = {
          product: product.data,
          currency: site.currency_symbol,
          price: product.data.price_monthly,
          color: 'primary-dark',
          text: 'Monthly' 
          }
        %}
        {% include "addtocart_button.njk" %}
      </div>
    </div>
  </div>
</div>
