---
layout: base.njk
title: One-page complete e-commerce or live-event site.
---

<div class="flex flex-wrap h-screen">
  <div class="w-full m-4 shadow-lg p-4">
    {{ content | safe }}
  </div>
</div>