---
layout: onepage.njk
title: JAMStack e-commerce with Foxy.io
---

<section id="welcome" class="md:p-12">
  <h1>
    {{ site.title }}
  </h1>
  <h2>
    {{ site.subtitle }}
  </h2>

  {% set welcome %}{% include './_data/welcome.md' %}{% endset %}
  {% markdown welcome %}

  {% if collections.highlight.length > 1 %}
  <h4>
    {{ site.texts.highlights_title }}
  </h4>

  {% markdown site.texts.highlights_text %}

  <ul>

    {# TIP: Iterate over a collection
    This collection can be created simply by creating a folder with a name
    starting with "_" within the src folder.
    Inside this folder create your items as markdown files.

    Learn more at: https://www.11ty.dev/docs/collections/
    #}
    {%- for highlight in collections.highlight -%}
      <li>
        <button class="underline hover:no-underline text-primary" data-action="setVideoUrl" data-url="{{highlight.data.video.embed}}">{{highlight.data.name}}</button>
      </li>
    {%- endfor -%}
  </ul>
  {% endif %}

</section>

{% if site.texts.aboutTitle %}
<hr />

<section id="about" class="md:p-12">
  {% include 'backToTop.njk' %}
  <h2>{{ site.texts.about_title }}</h2>

  {% set about %}{% include './_data/about.md' %}{% endset %}
  {% if about %}{% markdown about %}{% endif %}

  {# TIP: Uncomment the following `lorem`  line to see how fetching dynamic content works.
  Check out the _data/lorem.js file and fetch your own data during compilation.
  You'll also need to take a look at the function fetchLoremIpsum(paragraphs, size) in the src/_data/lorem.js file.
  #}
  {# {{ lorem.longTeaser | safe }} #}
</section>
{% endif %}

<hr />
<section id="donate" class="md:p-12">
  {% include 'backToTop.njk' %}
  <h2>{{ site.texts.donate_title }}</h2>
  {% set strippedStoreDomain = store.storedomain.replace('.foxycart.com', '') %}

  <foxy-donation store="{{strippedStoreDomain}}"
                 name="{{site.donation_form.name}}"
                 amount="{{site.donation_form.amount}}"
                 currency="{{site.currency}}"
                 {% if site.donation_form.amounts %} amounts="{{site.donation_form.amounts}}" {% endif %}
                 {% if site.donation_form.custom %} custom='{{site.donation_form.custom}}' {% endif %}
                 {% if site.donation_form.designation %} designation='{{site.donation_form.designation}}' {% endif %}
                 {% if site.donation_form.designations %} designations='{{site.donation_form.designations}}' {% endif %}
                 {% if site.donation_form.frequencies %} frequencies='{{site.donation_form.frequencies}}' {% endif %}
                 {% if site.donation_form.frequency %} frequency="{{site.donation_form.frequency}}" {% endif %}
                 {% if site.donation_form.comment %} comment {% endif %}
                 {% if site.donation_form.anonymity %} anonymity {% endif %}
                 >
  </foxy-donation>
</section>

<hr />

<section id="items" class="pb-0 md:p-12 md:pb-0">
  {% include 'backToTop.njk' %}
  <h2>{{ site.texts.needed_items_title }}</h2>
</section>

<div class="container p-2 pb-4 m-auto flex w-full flex-wrap items-stretch justify-start relative">
  {% for product in collections.product %}

    <div class="flex flex-col items-center w-full lg:w-1/2 p-2">
      {# TIP: Use includes to avoid repetition
          11ty recognizes template files in the _includes folder.
      #}
      <div data-foxy-product-container="data-foxy-product-container" class="rounded-md overflow-hidden shadow-lg border-dark border-2 h-full w-full">
        {% if product.data.image %}
          <div>
            {% productPicture product.data.image,
            product.data.image_alt_text %}
          </div>
        {% endif %}

        <div class="p-3">
          <input type="hidden" name="name" value="{{ product.data.name }}">
          <input type="hidden" name="price" value="{{ product.data.price }}">

          <div class="flex flex-wrap text-lg">
            <div class="w-2/3">
              <h4 class="font-bold mb-1 text-dark">{{ product.data.name }}</h4>
            </div>
            <div class="w-1/3 text-right text-primary">
              {% if product.data.price < 10000 %}
                <p class="p-0">
                  {{ site.currency_symbol }}{{ product.data.price }}<br>
                  ({{ site.currency_symbol }}{{ product.data.price_monthly }}/mo)
                </p>
              {% else %}
                <p>
                  {{ site.currency_symbol }}{{ product.data.price_monthly }}/mo
                </p>
              {% endif %}
            </div>
          </div>

          <hr class="my-1">

          <div class="text-dark text-base">
            {{ product.templateContent|safe }}
          </div>

          <hr class="my-3">

          <div class="flex flex-wrap leading-7 text-sm space-x-2 justify-between">
            {% include "custom_number_input.njk" %}

            <div class="w-1/3 pr-1">
              {# TIP: Set variables to feed includes Notice that this includes can call other includes. By setting the variable addToCartBtn here we can feed the include with the data it needs #}
              {% if product.data.price %}
                {% set addToCartBtn = {
                  product: product.data,
                  currency: site.currency_symbol,
                  price: product.data.price,
                  color: 'primary',
                  code: product.data.code,
                  text: 'Once'
                } %}
                {% include "addtocart_button.njk" %}
              {% endif %}
            </div>
            <div class="w-1/3 px-0">
              {% if product.data.price_monthly %}
                {% set addToCartBtn = {
                  monthly: true,
                  product: product.data,
                  currency: site.currency_symbol,
                  price: product.data.price_monthly,
                  color: 'primary-dark',
                  code: product.data.code,
                  text: 'Monthly'
                }
                %}
                {% include "addtocart_button.njk" %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
